.HabitList {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	width: 300px;
	margin-left: 10px;
	margin-top: 18px;
}

.habit-name {
	text-decoration: none;
	color: maroon;
}

.MuiButton-root {
	background-color: green;
}

@media only screen and (max-width: 700px) {
	.HabitList {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(2, 1fr);
		gap: 2px;
		width: 98%;
		margin: 5px 5px;
	}

	.user-habit-banner {
		/* visibility: hidden; */
		/* Hides the elements, but still takes up space in the layout */
		display: none;
		/* Turns off the display and removes element from document 
      (doesn't take up any space)
    */
	}
}
